<header>
  <div class="containers">
    <div class="rows">
      <div class="cols-20 cols">
        <div class="logo-small" routerLink="/dashBoard">
          <a href="#">
                        <img src="./assets/images/logo-small.jpg" class="img-fluid" alt="logo" title="icashout">
                      </a>
        </div>
      </div>
      <div class="cols-40 col-m-80 cols mob-hide">
        <h3 class="text-right">CREATE NEW ORDER</h3>
      </div>
      <div class="cols-40 cols col-m-80">
        <div class="cart-option pull-right">
          <ul>
            <li><a href="javascript:void(0);"><img src="./assets/images/chat.svg"></a></li>
            <li><a href="javascript:void(0);"><img src="./assets/images/cart.svg"><span>23</span></a></li>
            <li><a href="javascript:void(0);" (click) = "logout()"><img src="./assets/images/menu.svg"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfixs"></div>
</header>