<section class="mt20">
  <div class="containers">
    <div class="rows">
      <div class="cols-30 cols col-m">
        <div class="order-menu">
          <div class="order-search">
            <input type="text" name="">
            <span><img src="./assets/images/search-green.svg"></span>
          </div>
          <div class="menu-list">
            <h3>Categories</h3>
            <ul>
              <li class="active"><a href="javascript:void(0);">Breads</a></li>
              <li><a href="javascript:void(0);">Beverages</a></li>
              <li><a href="javascript:void(0);">Dairy</a></li>
              <li><a href="javascript:void(0);">Grocery</a></li>
            </ul>
          </div>
          <div class="menu-list">
            <h3>Categories</h3>
            <ul>
              <li class="active"><a href="javascript:void(0);">McCormick</a></li>
              <li><a href="javascript:void(0);">Valente Bakery (Pending Pricing)</a></li>
              <li><a href="javascript:void(0);">Boards Head</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cols-70 cols col-m">
        <div class="order-list">
          <div class="rows">
            <div class="cols-2 col-m">
              <h4>Isadora June 1st Week <a href="javascript:void(0);" class="ml10 link-txt"><i class="fa fa-pencil"></i></a></h4>
            </div>
            <div class="cols-2 col-m">
              <div class="grid-list text-right">
                <ul>
                  <li class="active"><a href="javascript:void(0);"><i class="fa fa-list" id="list-opt"></i></a></li>
                  <li><a href="javascript:void(0);" id="grid-opt"><i class="fa fa-th"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfixs"></div>
          <div class="order-row">
            <div class="rows">
              <div class="cols-2 col-m">
                <div class="item-image inblock">
                  <a href="javascript:void(0);"><img src="./assets/images/item1.jpg" class="img-fluid" alt="item" title="item"></a>
                </div>
                <div class="inblock item-content">
                  <h4>Asid Ascorbic, 50LB Case</h4>
                  <p>UOM: 50 LB</p>
                  <p>SKU: DG5224_CS</p>
                  <div class="favour">
                    <ul>
                      <li><a href="javascript:void(0);"><i class="fa fa-star"></i></a></li>
                      <li><a href="javascript:void(0);"><i class="fa fa-tag"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cols-2 col-m">
                <div class="item-right text-right">
                  <div class="inblock item-name">
                    <p><i class="fa fa-star"></i> Valente Ba... <span>$323.86</span></p>
                  </div>
                  <div class="inblock item-price">
                    <p>$6.48/LB</p>
                    <h4>$323.86</h4>
                  </div>
                  <div class="inblock item-add">
                    <a href="javascript:void(0);" class="btn btn-default addbtn"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order-row">
            <div class="rows">
              <div class="cols-2 col-m">
                <div class="item-image inblock">
                  <a href="javascript:void(0);"><img src="./assets/images/empty-item.jpg" class="img-fluid" alt="item" title="item"></a>
                </div>
                <div class="inblock item-content">
                  <h4>Asid Ascorbic, 50LB Case</h4>
                  <p>UOM: 50 LB</p>
                  <p>SKU: DG5224_CS</p>
                  <div class="favour">
                    <ul>
                      <li><a href="javascript:void(0);"><i class="fa fa-star"></i></a></li>
                      <li><a href="javascript:void(0);"><i class="fa fa-tag"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cols-2 col-m">
                <div class="item-right text-right">
                  <div class="inblock item-name">
                    <p><i class="fa fa-star"></i> Valente Ba... <span>$323.86</span></p>
                  </div>
                  <div class="inblock item-price">
                    <p>$6.48/LB</p>
                    <h4>$323.86</h4>
                  </div>
                  <div class="inblock item-add">
                    <a href="javascript:void(0);" class="btn btn-default addbtn"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order-row">
            <div class="rows">
              <div class="cols-2 col-m">
                <div class="item-image inblock">
                  <a href="javascript:void(0);"><img src="./assets/images/item1.jpg" class="img-fluid" alt="item" title="item"></a>
                </div>
                <div class="inblock item-content">
                  <h4>Asid Ascorbic, 50LB Case</h4>
                  <p>UOM: 50 LB</p>
                  <p>SKU: DG5224_CS</p>
                  <div class="favour">
                    <ul>
                      <li><a href="javascript:void(0);"><i class="fa fa-star"></i></a></li>
                      <li><a href="javascript:void(0);"><i class="fa fa-tag"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cols-2 col-m">
                <div class="item-right text-right">
                  <div class="inblock item-name">
                    <p><i class="fa fa-star"></i> Valente Ba... <span>$323.86</span></p>
                  </div>
                  <div class="inblock item-price">
                    <p>$6.48/LB</p>
                    <h4>$323.86</h4>
                  </div>
                  <div class="inblock item-add">
                    <a href="javascript:void(0);" class="btn btn-default addbtn"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfixs"></div>
</section>